body {
  background-color: rgb(249, 249, 249);
  margin: 0;
  padding-top: 80px;
  padding-left: 100px;
}

* {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

/* For smartphone and tablet */
@media screen and (max-width: 768px) {
  body {
    padding-top: 80px;
    padding-left: 10px;
  }
}
