.sidebar {
  background-color: white;
  width: 90px;

  position: fixed;
  top: 70px;
  left: 0px;
  bottom: 0px;
  z-index: 2;
}

.sidebar-link {
  height: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sidebar-link:hover {
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}

.sidebar-link img {
  height: 30px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 13px;
}

/* For smartphone & tablet */
@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}